{% extends "layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="registration-main-container">
                    <h3 class="registration-heading">Forgot Password</h3>
                    <form action="/forgot_password" method="POST" id="password_reset_form">
                        <div class="input-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <!-- <br> -->
                        <hr>
                        <div class="input-group" id="status_text">
                            {% if error %}
                            <p style="color:orangered;">{{ error }}</p>
                            {% endif %}
                            {% if success %}
                            <p style="color:green;">{{ success }}</p>
                            {% endif %}
                        </div>
                        <div class="input-group">
                            <input type="submit" id="submit" value="Send Reset Link">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

{% endblock %}