{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="registration-main-container">
                    <h3 class="registration-heading">Reset Password</h3>
                    <form action="/reset_password/{{ token }}" method="POST" id="password_reset_form">
                        <div class="input-group">
                            <label for="password">New Password (required)</label>
                            <input type="password" name="password" id="password" required>
                        </div>
                        <div class="input-group">
                            <label for="confirm_password">Confirm New Password (required)</label>
                            <input type="password" name="confirm_password" id="confirm_password" required>
                        </div>
                        <!-- <br> -->
                        <hr>
                        <div class="input-group" id="status_text">
                            {% if error %}
                            <p style="color:orangered;">{{ error }}</p>
                            {% endif %}
                            {% if success %}
                            <p style="color:green;">{{ success }}</p>
                            {% endif %}
                        </div>
                        <div class="input-group">
                            <input type="submit" id="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

{% endblock %}