{% extends "layout.html" %}

{% block title %}Status{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="status-page-message">
                    <br>
                    <br>
                    <h2 class="">{{ msg }}</h2>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

{% endblock %}